html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
  font-weight: bold;
}

ol {
  list-style: none;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25rem;
  color: #8f2440;
}

body {
  font-family: 'PT Serif', serif;
}

figure {
  text-align: center;
  font-style: italic;
  font-size: .75em;
}
